{% extends "encyclopedia/layout.html" %} 

{% block title %} New Page {%endblock %} 

{% block body %}

<h1>Create a New Page!</h1>
<p>Please note that this site uses 
    <a href="https://docs.github.com/en/github/writing-on-github/basic-writing-and-formatting-syntax">
        Github Markdown
    </a> 
    to style its pages, which is converted to HTML when entries are requested by a user.</p>

    <!-- To display the error message -->
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li
        {% if message.tags %} class="{{ message.tags }}"{% endif %}> {{ message }}
        </li>
        {% endfor %}
    </ul>
    {% endif %}


<div class="mb-3">
    <form action= "{% url 'encyclopedia:create' %}" method="POST">
        {% csrf_token %}
        {{create_form}}
        <button type="submit" class="btn btn-primary">Create</button>
    </form>
</div>


{% endblock %}