{% load static %}

<!DOCTYPE html>

<html lang="en">
    <head>
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link href="{% static 'encyclopedia/styles.css' %}" rel="stylesheet">
    </head>
    <body>
        <div class="row">
            <div class="sidebar col-lg-2 col-md-3">
                <div class="overall-layout">
                    <div class="logo-section" style="margin-top: 15px; display: flex; justify-content: center; flex-direction: column;">
                        <img 
                        src="{% static 'encyclopedia/media/logo.png' %}" 
                        alt="Wikipedia logo" 
                        class="wiki-logo" 
                        style= "width: 35%; opacity: 0.5; display: flex; align-items: center; justify-content: center; margin-bottom: 10px">
                        <h3>A Simple Wiki</h3> 
                    </div>
                    <form action= "{% url 'encyclopedia:search' %}" method="POST">
                        {% csrf_token %}
                        {{ search_form }}
                    </form>
                    <div>
                        <a href="{% url 'encyclopedia:index' %}">Home</a>
                    </div>
                    <div>
                        <a href="{% url 'encyclopedia:create' %}">Create New Page</a> 
                    </div>
                    <div>
                         <a href="{% url 'encyclopedia:random' %}">Random Page</a>           
                    </div>
                    {% block nav %}
                    {% endblock %}
                </div>
            </div>
            <div class="main col-lg-10 col-md-9">
                {% block body %}
                {% endblock %}
            </div>
        </div>

    </body>
</html>