{% extends 'encyclopedia/layout.html' %}

{% block title %}
    {{title}}
{% endblock title %}

{% block body %}
    <h1>Here are some pages you might be interested in:</h1>
    <p>Search results are for: '{{title}}'</p>

    <ul>
        {% for item in similar %}
            <li>
                <a href= "{% url 'encyclopedia:entry' item %}">{{item}}</a>
            </li>
        {% endfor %}
    </ul>

    <p>Not what you were looking for? Create a new page by clicking <a href="{% url 'encyclopedia:create' %}">here!</a></p>

{% endblock body %}